<!DOCTYPE html>
<html>
<head>
    <title>AI Expense Assistant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="chat-container">
    <div class="header">
        AI Expense Assistant 💬
    </div>

    <div id="chat-box" class="chat-box">
        <div class="bot-message">
            Hello 👋 Apni employee id batao. Example: E033
        </div>
    </div>

    <div class="input-area">
        <input type="text" id="user-input" placeholder="Type your message..." />
        <button onclick="sendMessage()">Send</button>
    </div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>